html, body {
    margin: 0 auto;
    position: relative;
    padding: 0;
    overflow-y:scroll;
}

canvas {
  display: block;
}

h1 {
    font-family: 'Lora', serif;
    font-size: 60px;
    font-weight: 600;
    margin: inherit;
    color: #00094A;
    height: auto;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #474850;
    height:auto;
    margin: inherit;
}

h2 {
    font-family: 'Lora', serif;
    font-size: 28px;
    margin: inherit;
    color: #474850;
    font-weight: 600;
    width: 80%;
    height: auto;
}

#calcButton{
    width: 200px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    background: #0624F7;
    color: white;
    margin:0 0.3em 0.3em 0;
    border-radius:1em;
    border: 0;
    display:inline-block;
}

#calcButton:hover{
    background: white;
    color: #0624F7;
    border-color: #0624F7;
    border: 0.15em solid #0624F7;
    margin:0 0.3em 0.3em 0;
    border-radius:1em;
    display:inline-block;
}

#buttonPanel, #dogList {
    width:80%;
    display: inline-block;
}

.labels {
    margin: 0;
    padding: 0;
    color: #00094A;
    font-family: 'Open Sans', sans-serif; 
    font-size: 14px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #00094A;
}

.genderButton{
    height: 40px;
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px;
    background: white;
    color: #00094A;
    width: 100px;
    border: 0.1em solid #00094A;
}

.genderButton:hover{
    cursor:pointer;
}

select {
    height: 40px;
    position: relative;
    font-family: 'Open Sans', sans-serif; 
    border: 0.1em solid #00094A;
    cursor: pointer;
}

select:hover{
    border: 0.1em solid #0624F7;
}

input {
    position:relative;
    font-family: 'Open Sans', sans-serif;
    border: 0.1em solid #00094A;
    cursor: inherit;
}

input:hover{
    border: 0.1em solid #0624F7;
}