html, body {
    margin: 0 auto;
    position: relative;
    padding: 0;
    overflow:scroll
}

canvas {
  display: block;
}

h1 {
    font-family: 'Lora', serif;
    font-size: 60px;
    margin: inherit;
    color: #00094A;
    width: 90%;
    height: auto;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #00094A;
    width: 90%;
    height:auto;
    margin: inherit;
}

#calcButton{
    width: 200px;
    height: 40px;
    font-family: 'Lora', serif;
    font-size: 18px;
    background: white;
    color: #00094A;
    margin:0 0.3em 0.3em 0;
    border-radius:1em;
    border: 0.15em solid #00094A;
    display:inline-block;
}

#buttonPanel {
    width:90%;
    display: inline-block;
}

.labels {
    margin: 0;
    padding: 0;
    color: #00094A;
    font-family: 'Open Sans', sans-serif; 
    font-size: 14px;
}

.genderButton{
    height: 40px;
    font-family: 'Open Sans', sans-serif; 
    background: white;
    color: #00094A;
    width: 100px;
    border: 0.1em solid #00094A;
}

select {
    height: 40px;
    position: relative;
    font-family: 'Open Sans', sans-serif; 
    border: 0.1em solid #00094A;
}

input {
    position:relative;
    font-family: 'Open Sans', sans-serif;
    border: 0.1em solid #00094A;
}